.map-container {
  width: 400px;
  height: calc(100vh - 60px);
  border-radius: 10px;
  margin: 0;
  border-radius: 0;
  position: sticky !important;
  top: 60px;

  .search-events {
    list-style: none;
  }
}

.show-map-container {
  width: 100%;
  height: 400px;
}