@media (min-width: 400px) {
  .index-event {
    padding: 16px 30px 16px 0;

    img {
      border-radius: 4px;
      object-fit: cover;
      height: 48vw;
    }
  }
}

@media (min-width: 480px) {
  .index-event {
    width: 50vw;
    padding: 24px 24px 24px 0;
  }
  .index-event img {
    height: 22vw;
  }
}

@media (min-width: 960px) {
  
  .event-index {
    position: relative;
    
    .background {
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      box-shadow: none;
      
      .background-img-container {
        height: 55vh;
        min-height: 450px;
        overflow: hidden;
        box-sizing: border-box;
        
        .background-img {
          filter: blur(30px);
          transform: scale(1.1); 
          background-size: cover;
        }
      }
      
      .lower-background {
        background: #f4f5f7;
        opacity: 20%;
        height: 80%;
      }
    }
    
    .browse-events-header {
      display: flex;
      flex-direction: row;
    }
    
    
  }


  .browse-events-header {
    // display: flex;
    // flex-direction: column;
    width: 85vw;
    margin-left: 7vw;
    padding: 40px 0;
    position: relative;

    img {
      width: 72vw;
      height: 60vh;
      min-height: 430px;
      object-fit: cover;

    }

    .splash-words {
      position: absolute;
      z-index: 1;
      color: black;
      font-weight: bold;
      padding: 100px 50px;

  
      .splash-verbiage-open {
        font-size: 26px;
      }
  
      .splash-verbiage-close {
        font-size: 36px;
      }
    }
  }



  .index-search-form {
    z-index: 3;
    height: 250px;
    max-width: 350px;
    width: 35vw;
    background-color: white;
    color: black;
    position: absolute;
    right: -75px;
    top: 100px;
    flex-direction: column;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .want-em {
      font-size: 12px;
      color: #4B4D63;
    }

    .pick-em {
      border-bottom: 1px solid #DBDAE3;
      padding: 2px 0;
      margin: 10px 0 10px -2px;

      .pick-em-select {
        border: none;
        font-weight: bold;
        font-size: 18px;
        width: 100%;
        background-color: white;
        line-height: 24px;
        padding-left: 0;
        margin: 0 0 0 -5px;
      }
      
      .pick-em-select:focus {
        outline: none;
      }
    }

    .field {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      color: #4B4D63;
      border-bottom: 1px solid #DBDAE3;

      input {
        font-size: 18px;
        font-weight: 700;
        color: #1e0a3c;
        padding: 12px 0 5px 0;

      }

      input::placeholder {
        color: #1e0a3c;
      }
    }

    button {
      display: none;
    }
  }



  .index-event {
    width: 30vw;
    padding: 16px 30px 16px 0;
  }

  .index-event img {
    height: 16.665vw;
  }

  .index-event:hover {
    .event-info {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    }
    
    img {
      border-radius: 4px 4px 0 0;
    }
  }
}

.browse-loc-container {
  display: flex;
  flex-direction: row;
}

.browsing {
  color: #45494e;
  font-size: 14px;
  font-weight: 200;
  padding-left: 4px;
  padding-right: 5px;
}

.to-do {
  color: #666a73;
  font-size: 14px;
}

.index-events-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 40px 0;
  margin: 0 3vw 0 7vw;


  .index-event {
    box-sizing: border-box;

    img {
      overflow: hidden;
    }

    .event-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 24px;
      border-radius: 0 0 4px 4px;

      .event-fancy-date {
        display: flex;
        flex-direction: column;
        width: 15%;
        padding-right: 16px;

        .month {
          font-size: 12px;
          text-align: center;
          color: #fd348b;
        }

        .day {
          text-align: center;
          color: #666a73;
        }

      }

      .event-verbage {
        width: 85%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .title {
          color: #363a43;
          font-size: 18px;
        }

        .date {
          color: #666a73;
          font-size: 12px;
          margin-top: 4px;
        }

        .location {
          color: #666a73;
          font-size: 12px;
        }
      }
    }
  }
}
