.footer {
  background-color: rgb(30, 10, 60);
  min-height: 150px;
  width: 100%;
  color: #DBDAE3;
  display: flex;
  flex-direction: column;
  border-top: #4B4D63 solid 6px;
  
  img {
    height: 30px;
    width: 30px;
  }

  .footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0 70px 0;
    margin: 0 50px;
    
    h1 {
      color: #A9A8B3;
      font-size: 15px;
      padding: 7px 0;
    }
    .links {
      color: #DBDAE3;
      font-size: 13px;
      padding: 2px 0;
    }

    .find-events {
      display: flex;
      flex-direction: column;

    }
    
    .meet-developer {
      display: flex;
      flex-direction: column;
      
      
      .dev-links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        img {
          height: 30px;
          width: 30px;
          padding: 5px 0;
        }
      }
    }
  }
    
  .site-basics {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    color: #A9A8B3;

    img {
      padding: 5px;
    }
  }
}
