.main-nav {
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  width: 100vw;
  background-color: white;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.05);

  .logo-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50vw;

    .search-bar-container {
      display: flex;
      flex-direction: row;
      margin-left: 30px;
      align-items: center;

      img {
        width: 15px;
        height: 15px;
      }

      form {
        margin-left: 10px;
        line-height: 15px;
        margin-bottom: 2px;

        input {
          vertical-align: middle;
        }
      }
    }
  }

  .linked {
    height: 100%;

    
    .logo {
      width: 200px;
      height: 60px;
      
      img {
        object-fit: cover;
        width: 225px;
        height: 50px;
      }
    }
  }

  .search-bar {
    width: 90%;

    button {
      display: none;
    }
  }
  .search-bar::placeholder {
    color: #c6c9d1;
  }

  .main-nav-options {
    position: relative;
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #666a73;
    font-size: 14.5px;
    letter-spacing: -.1px;

    .nav-link {
      text-decoration: none;
      color: inherit;
      display: flex;
      align-items: center;
      color: #39364F;
      font-size: 15px;
    }
    
    .create {
      color: #3d64ff;
      font-weight: 600;
    }
  }

  .user-drop-img {
    height: 30px;
    width: 30px;
  }
}
