.new-event-page{

  .new-event-titleblock {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    font-size: 24px;
    font-weight: 200;

    button {
      width: 115px;
      height: 40px;
      background-color: #f86044;
      border-radius: 40px;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      font-weight: 600;
      font-size: 15px;
    }

    button:hover {
      background-image: radial-gradient(farthest-corner at 80% 100%,#f86044 0,#fd348b 100%);
    }
  }

  .event-form-options {
    background-color: #45494e;
    height: 48px;
  }

  .new-event-container {
    background-color: #eff3f9;
    padding-top: 20px;


    .new-event-form {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: auto;

      .section-info {
        display: flex;
        flex-direction: row;
        border-bottom: 1px solid #666a73;

        .section-num {
          width: 50px;
          height: 50px;
          background-color: #0093D7;
          color: #fff;
          font-size: 35px;
          vertical-align: middle;
          text-align: center;
          line-height: 45px;
          font-family: briteicons,"Benton Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
          font-style: normal;
          -webkit-font-smoothing: antialiased;
        }

        .section-title {
          height: 50px;
          width: 200px;
          padding: 0 5px 0 10px;
          font-size: 25px;
          color: #666a73;
          font-weight: 400;
        }
      }

      .input-title {
        display: flex;
        flex-direction: column;
        margin-top: 15px;

        label {
          color: #282C35;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: .5px;
        }

        input {
          background-color: #fff;
          border: 1px solid #D2D6DF;
          border-radius: 3px;
          height: 24px;
          padding: 9px 12px;
          color: #45494E;
          margin-top: 5px;
          cursor: text;
        }

        input:focus {
          border: 1px solid #3a6ec1;
        }

        textarea {
          background-color: white;
          border: 1px solid #D2D6DF;
          border-radius: 3px;
          padding: 9px 12px;
          color: #45494E;
          height: 110px;
          margin-top: 5px;
          padding-bottom: 50px;
        }
      }


    }
  }
  .complete-create {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 110px;
    padding: 60px 10px;
    border-top: 1px solid #D2D6DF;

    .almost-msg {
      color: #282C35;
      font-weight: 600;
      font-size: 35px;
      text-align: center;
      padding: 10px 0;
    }

    button {
      background-color: #00ab44;
      width: 177px;
      margin: 10px auto 0 auto;
      border-radius: 3px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      line-height: 22px;
      padding: 11px 20px;
      cursor: pointer;
    }
  }
}
