.user-dropdown {
  height: 60px;

  img {
    padding: 15px 0;

  }
}
.user-dropdown-items {
  display: none;
  position: absolute;
  right: 10px;
}

.user-dropdown:hover .user-dropdown-items {
  display: block;
  border: 1px solid lightgray;
  z-index: 1;

  .item {
    width: 200px;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    
  }
}
